<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2PNgMHGNeLuGYMwYLQdxHUBAWCvUyBKM</string>
	<key>GCM_SENDER_ID</key>
	<string>583603274040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realState</string>
	<key>PROJECT_ID</key>
	<string>real-state-de343</string>
	<key>STORAGE_BUCKET</key>
	<string>real-state-de343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583603274040:ios:6404918044ba49e7e2c1cd</string>
</dict>
</plist>